@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

h1{
    font-size: 2em;
    color: red;
    background-color: black;
    text-align: center;

}

h2{
    font-size: 1.5em;
    color: black;
    background-color: red;
    text-align: center;

}

h3{
    font-size: 1em;
    color: rebeccapurple;
    text-align: center;
}

h4{
    font-size: 1em;
    color: red;
    text-align: center;
}

p{
    text-align: center;
}

div{
    width: 50%;
    height: 50px;
    background-color: gold;
    margin-bottom: 10px;
}

.divtwo{
    width: 70%;
    background-color: green;
}

/*les classes sont en priorite*/

#divone{
    width: 80%;
    background-color: rebeccapurple;
}
/*propriete test*/
#test{
    font-size: 2em; /*Pour ajuster la taille de la typographie 1em=16px*/
    font-family: 'Courier New', Courier, monospace; /*Pour changer la typo */
    font-weight: bold; /*pour manipuler la largeur de la typo*/
    font-style: italic;/*pour changer le style */
    text-align: left;
    text-transform: uppercase; /*pour transformer le texte maj, min, capital...*/
    text-decoration: underline; /*pour ajouter une decoration*/
    text-indent: 200px; /*pour implenter ou decaler le texte*/
    color: aquamarine;
    text-shadow: 4px 2px 6px black; /*mettre une ombre au texte*/
    letter-spacing: 4px; /*espace entre les lettres*/
}

#changetypo{
    font-family: "Boldonse", system-ui;
}

#changetypo2{
    font-family: "Bungee Tint", sans-serif;
}

#changetypo3{
    font-family: "janat";
}

/*propriete bloc*/
#alignement{
    background-color: red;
    padding: 50px;
    display: flex; /*ceci force les blocs a s'aligner*/
    justify-content: space-evenly; /*justifier l'alignement*/
    align-items: center; /*alignement vertical*/
}

#alignement li{
    width: 20%;
    background-color: gray;
    height: 100px;
    list-style: none; /* pour gerer les puces sur les listes*/
}

#alignement2{
    background-color: transparent;
    width: 100%;
}

#img1{
    width: 25%;
    float: left; /*permet d'aligner les elements*/
    margin: 10px; /*marge externe*/
}

#pg1{
    text-align: justify;
}

/*superposition*/

.mere{
    width: 100%;
    position: relative; /*position du dessous*/
    background-color: transparent;
}
.mere img{
    width: 100%;
}
.enfant{
    width: 100%;
    background-color: transparent;
    position: absolute; /*position du dessus*/
    top: 400px;
}
.enfant h5{
    font-size: 4em;
    color: brown;
    text-shadow: 1px 2px 3px black;
    text-align: center;
}