@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

h1{
    font-size: 2em;
    color: red;
    background-color: black;
    text-align: center;

}

h2{
    font-size: 1.5em;
    color: black;
    background-color: red;
    text-align: center;

}

h3{
    font-size: 1em;
    color: rebeccapurple;
    text-align: center;
}

h4{
    font-size: 1em;
    color: red;
    text-align: center;
}

p{
    text-align: left;
}

div{
    width: 50%;
    height: 50px;
    background-color: gold;
    margin-bottom: 10px;
}

.divtwo{
    width: 70%;
    background-color: green;
}

/*les classes sont en priorite*/

#divone{
    width: 80%;
    background-color: rebeccapurple;
}
/*propriete test*/
#test{
    font-size: 2em; /*Pour ajuster la taille de la typographie 1em=16px*/
    font-family: 'Courier New', Courier, monospace; /*Pour changer la typo */
    font-weight: bold; /*pour manipuler la largeur de la typo*/
    font-style: italic;/*pour changer le style */
    text-align: left;
    text-transform: uppercase; /*pour transformer le texte maj, min, capital...*/
    text-decoration: underline; /*pour ajouter une decoration*/
    text-indent: 200px; /*pour implenter ou decaler le texte*/
    color: aquamarine;
    text-shadow: 4px 2px 6px black; /*mettre une ombre au texte*/
    letter-spacing: 4px; /*espace entre les lettres*/
}

#changetypo{
    font-family: "Boldonse", system-ui;
}

#changetypo2{
    font-family: "Bungee Tint", sans-serif;
}

#changetypo3{
    font-family: "janat";
}

/*propriete bloc*/
#alignement{
    background-color: red;
    padding: 50px;
    display: flex; /*ceci force les blocs a s'aligner*/
    justify-content: space-evenly; /*justifier l'alignement*/
    align-items: center; /*alignement vertical*/
}

#alignement li{
    width: 20%;
    background-color: gray;
    height: 100px;
    list-style: none; /* pour gerer les puces sur les listes*/
}

#alignement2{
    background-color: transparent;
    width: 100%;
}

#img1{
    width: 25%;
    float: left; /*permet d'aligner les elements*/
    margin: 10px; /*marge externe*/
}

#pg1{
    text-align: justify;
}

/*superposition*/

.mere{
    width: 100%;
    position: relative; /*position du dessous*/
    background-color: transparent;
}

.mere img{
    width: 100%;
}

.enfant{
    width: 100%;
    background-color: transparent;
    position: absolute; /*position du dessus*/
    top: 400px;
}

.enfant h5{
    font-size: 4em;
    color: brown;
    text-shadow: 1px 2px 3px black;
    text-align: center;
}

.decal{
    height: 1700px;
}

.boutton{
    background-color: blue;
    color: gold;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
    border-radius: 30px;
    z-index: 500; /*ne pas mixer les positions avec le z-index car elles prendront toujours la priorite */
    margin-top: -1000px;
    position: absolute;
    /* pour centrer les balises inlines */
    margin-left: 50%;
    transform: translate(-50%);
}

/* -----------------------*/

/*speudo classe*/

#parasc::first-letter{
    font-size: 1.5em;
    font-weight: 700;
    color: green;
}

#ulsc li:first-child,
#ulsc li:last-child{
    background-color: blueviolet;
    font-size: 2em;
}

#Prenomsc:focus{
    background-color: red;
}

#asc:active{
    background-color: orange;
    color: aquamarine;
}
#asc:visited{
    background-color: red;
    color: gold;
}

.boutton:hover{
    background-color: black;
    color: white;
}

/*psuedo element*/

#parase{
    font-size: 2em;
    color: greenyellow;
}
#parase::before{
    content: "Qui t'accompagne ? <";
    color: blueviolet;
    background-color: gold;
}
#parase::after{
    content: "> Ah bon!";
    color: gold;
    background-color: blueviolet;
}

/*GRID*/

.mosaique{
    width: 80%;
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "img1 img2"
        "img3 img3"
        "img4 img5";
}
#image1{
    width: 100%;
    height: 200px;
    grid-area: img1;

}
#image2{
    width: 100%;
    height: 200px;
    grid-area: img2;
}
#image3{
    width: 100%;
    height: 200px;
    grid-area: img3;
}
#image4{
    width: 100%;
    height: 200px;
    grid-area: img4;
}
#image5{
    width: 100%;
    height: 200px;
    grid-area: img5;
}

/*les medias queries*/

@media screen and (min-width: 501px) and (max-width: 900px){
    *{
        background-color: greenyellow;
    }
}

/*sommaire*/
nav ol{
    background-color: gray;
    margin-bottom: 20px;
    width: 60%;
    padding: 50px;
    border-radius: 50px;
    margin-left: 50%;
    transform: translate(-50%);
}
nav ol li{
    background-color: ghostwhite;
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}
nav ol li a{
    color: rgb(48, 36, 36);
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}