@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

/*https://flexboxfroggy.com/#fr*/

/* root est la racine de notre html */
:root{
    /*couleur*/
    --couleurpr : #3170C2,;
    --couleursnd : #24229B;
    --couleurtext : black;
    --couleurwall : linear-gradient(120deg,white,#3170C2);
    /*font-family */
    --typoL : "lastica";
    --typoA : "arial";
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--typoA);
    color: var(--couleurpr);
}
.btn{
    color: white;
    background-color: var(--couleursnd);
    margin: 20px 0;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    
}
.btn:hover{
    color: var(--couleursnd);
    background-color: white;
    border: 1px solid var(--couleursnd);
}
/******************************HEADER******************************/

header{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background: var(--couleurwall);
    width: 100%;
    padding: 5px;
}
.logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 20%;
}
.logo img{
    height: 20em;
    width: 20em; 
    /* border-radius: 45%; */
}
nav{
    width: 80%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header li{
    list-style: none;
    padding: 15px;
    width: 15%;
    width: 100%;
}
header li a{
    text-decoration: none;
    font-family: var(--typoA);
    color: var(--couleurtext);
    font-size: 3em;
}
header li span{
    font-size: 3em;
}
.sousmenu{
    background-color: var(--couleurwall);
    position: absolute;
    /* margin-left: -35px; */
    /* transform: translateX(-50%);
    margin-left: 50%; */
    margin-top: 15px;
    display: none;
}
.sousmenu a,
.sousmenu li {
    /*padding-right: 35px; */
    transform: translateX(-10%);
    /* margin-left: 50%;  */
    width: 100%;
}
.menu li:hover .sousmenu{
    display: block;
}


/******************************MAIN******************************/

/******************************baniere index******************************/

/******************************a propos index******************************/

/******************************parallax index******************************/

/******************************service index******************************/

/******************************blog index******************************/

/******************************parallax2 index******************************/

/******************************partenaire index******************************/

/******************************contact index******************************/

/******************************FOOTER******************************/

footer{
    /* height: 80px; */
    background: var(--couleurwall);
    margin-top: 25px;
    padding: 50px;
}
table{
    width: 100%;
    text-align: center;
}
footer h3{
    font-size: 2em;
    color: var(--couleur3);
    text-decoration: none;
    /* margin-bottom: 20px; */
    /* background-color: transparent; */
    text-align: center;
}
footer li{
    list-style: none;
    font-size: 2em;
    padding: 10px;
}
.gauche{
    margin-left: 35px;
    text-align: left;
}
h3 .gauche{
    margin-left: 35px;
}
h3{
    font-weight: bold;
}
table .droite{
    margin-left: 50px;
}
footer a{
    color: var(--couleurtext);
    text-shadow: 1px 2px 3px var(--couleur2);
    text-decoration: none;
}
footer p{
    color: black;
    font-weight: bold;
    margin-top: 30em;
    /* padding-top: 200px; */
}