@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

/*https://flexboxfroggy.com/#fr*/

/* root est la racine de notre html */
:root{
    /*couleur*/
    --couleurpr : #3170C2,;
    --couleursnd : #24229B;
    /*font-family */
    --typoL : "lastica";
    --typoA : "arial";
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--typoA);
    color: var(--couleurpr);
}
.btn{
    color: white;
    background-color: var(--couleursnd);
    margin: 20px 0;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    
}
.btn:hover{
    color: var(--couleursnd);
    background-color: white;
    border: 1px solid var(--couleursnd);
}
/******************************HEADER******************************/

header{
    /* La propriété display définit le type d'affichage utilisée pour le rendu d'un élément (de bloc ou en ligne) et la disposition utilisée pour ses éléments fils : grille ou boîtes flexibles.Le type d'affichage donné par display possède deux composantes : le type d'affichage extérieur qui définit comment la boîte participe au flux et le type d'affichage intérieur qui définit l'organisation des éléments enfants. */
    /* La propriété flex est une propriété raccourcie qui définit la capacité d'un élément flexible à modifier ses dimensions afin de remplir l'espace disponible de son conteneur. */
    display: flex;
    /* La propriété CSS justify-content indique la façon dont l'espace doit être réparti entre et autour des éléments selon l'axe principal d'un conteneur flexible ou selon l'axe en ligne lorsque le conteneur est une grille. */
    /* Les éléments sont espacés équitablement. L'espace utilisé entre chaque élément, entre le bord du conteneur et le premier élément, et entre le dernier élément et le bord du conteneur est le même. */
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(120deg,rgb(160, 160, 160) 38%,rgb(78, 78, 151) 38%);
    width: 100%;
    position: fixed;
    z-index: 100;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    /* La propriété flex-direction définit la façon dont les éléments flexibles sont placés dans un conteneur flexible : elle définit l'axe principal et la direction des éléments (normale ou inversée). */
    flex-direction: column;
    width: 20%;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 45%;
}
.logo p{
    font-size: var(--sizep);
    text-shadow: 1px 2px 3px var(--couleuracc);
    font-weight: bold;
}
nav{
    width: 60%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header li{
    list-style: none;
    text-align: center;
    position: relative;
    padding: 10px;
    width: 10%;
}
header li:hover{
    border-bottom: 1px solid black;
}
header li a{
    text-decoration: none;
    font-size: var(--sizeancre);
    color: var(--couleurtext);
    text-shadow: 1px 2px 3px var(--couleuracc);
}
.sousmenu{
    background-color: var(--couleuracc);
    position: absolute;
    margin-left: -35px;
    /* transform: translateX(-50%);
    margin-left: 50%; */
    margin-top: 10px;
    display: none;
}
.sousmenu a,
.sousmenu li {
    /*padding-right: 35px; */
    transform: translateX(-25%);
    /* margin-left: 50%;  */
    width: 100%;
}
.sousmenu li:first-child{
    border-bottom: 2px solid goldenrod;
}
.sousmenu li:last-child{
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}
.menu li:hover .sousmenu{
    display: block;
}
.sousmenu li a:hover {
    border-bottom: 1px solid black;
}
.sousmenu li:hover {
    border-bottom: none;
}

/******************************MAIN******************************/

/******************************baniere index******************************/

/******************************a propos index******************************/

/******************************parallax index******************************/

/******************************service index******************************/

/******************************blog index******************************/

/******************************parallax2 index******************************/

/******************************partenaire index******************************/

/******************************contact index******************************/

/******************************FOOTER******************************/
