@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

/*https://flexboxfroggy.com/#fr*/

/* root est la racine de notre html */
:root{
    /* déclarer une variable: déclarer une couleur */
    --couleur1 : rgb(153, 179, 199);
    --couleur2 : rgb(1, 71, 119);
    --couleur3 : rgb(78, 177, 47);
    --couleur4 : rgb(188, 202, 213);
    /* déclarer une variable: déclarer une taille */
    --sizeH1: 5em;
    --sizeH2: 3em;
    --sizeH3: 2em;
    --sizeH4: 1.5em;
    --sizep: 1em;
    --sizeancre: 1.2em;
    --fontwall:linear-gradient(120deg, var(--couleur4) 50%, var(--couleur1)50%);
}

*{
    margin: 0;
    padding:0; 
    /* ecoconception: consomme moins car les pixels sont éteins
    background-color: black;  */
}

/******************************HEADER******************************/

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background: var(--fontwall)
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.logo p{
    font-size: var(--sizep);
    color: var(--couleur2);
    text-shadow: 1px 2px 3px var(--couleur3);
    font-weight: bold;
}
nav{
    width: 70%;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header li{
    list-style: none;
    padding: 15px;
    width: 15%;
}
header a{
    text-decoration: none;
    font-size: var(--sizeancre);
    font-weight: bold;
    color: var(--couleur2);
}
header li:hover{
    background: transparent;
    border: 2px solid var(--couleur4);
}
header a:hover{
    color: var(--couleur3);
    transform: scale(120%);
    transition: 0.5s;
    transform: rotate(-360deg);
}

/******************************MAIN******************************/

/******************************baniere index******************************/

.baniere{
    height: 70vh;
    background: var(--fontwall);
    margin-top: 15px;
    text-align: center;
}
.baniere p{
    --sizep:1.8em;
    color: var(--couleur2);
    font-size: var(--sizep);
    text-shadow: 1px 2px 4px var(--couleur3);
    margin-bottom: 30px;
}

h1{
    color: var(--couleur2);
    font-size: var(--sizeH1);
    padding-top: 150px;
    text-shadow: 1px 2px 4px var(--couleur3);
    margin-bottom: 20px;
}

.btn{
    color: var(--couleur2);
    background-color: var(--couleur1);
    margin: 20px 0;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
}
.btn:hover{
    color: var(--couleur3);
    background-color: var(--couleur4);
}

/******************************apropos index******************************/

.apropos{
    width: 70%;
    padding: 50px;
    background-color: var(--couleur4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}
.apropos .gauche,
.apropos .droite{
    width: 45%;
}
.gauche img{
    width: 100%;
    border-radius: 40px;
}
h2{
    background-color: var(--couleur3);
    color: var(--couleur2);
    font-size: var(--sizeH2);
    padding: 20px;
    text-align: center;
    margin: 30px 0;
}
h3{
    background-color: var(--couleur3);
    color: var(--couleur2);
    font-size: var(--sizeH2);
    padding: 20px;
    text-align: center;
}
.apropos p{
    text-align: justify;
    padding: 20px;
    margin-bottom: 10px;;
}

/******************************parallax index******************************/
.parallax{
    height: 500px;
    background: url(../image/fantasy-art-dragon-gray-photo-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -250px;
    background-attachment: fixed;
}

/******************************services index******************************/

.services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background: linear-gradient(rgba(0, 128, 0, 0.37), rgba(255, 217, 0, 0.384),rgba(0, 128, 0, 0.151)),url(../image/1690290558.webp);
    background-position: center;
}
.service{
    width: 28%;
    text-align: center;
    border-radius: 40px;
    padding: 40px 20px;
    border: 2px solid goldenrod;
}
.service img{
    border-radius: 40px;
    height: 200px;
    width: 100%;
    opacity: 0.5;
}
.service img:hover{
    opacity: 1;
    height: 250px;
    transform: scale(120%);
    transition: 0.5s;
}
h4{
    background-color: var(--couleur3);
    color: var(--couleur2);
    font-size: var(--sizeH4);
    padding: 10px;
    text-align: center;
    margin: 10px 0;
}
.service p{
    margin-bottom: 30px;
    text-align: justify;
}

/******************************blog index******************************/

/******************************FOOTER******************************/

footer{
    /* height: 80px; */
    background: var(--fontwall);
    margin-top: 25px;
    padding: 50px;
}
table{
    width: 100%;
    text-align: center;
}
footer h3{
    font-size: var(--sizeH3);
    color: var(--couleur3);
    text-decoration: none;
    margin-bottom: 20px;
    background-color: transparent;
    text-align: center;
}
footer li{
    list-style: none;
    font-size: var(--sizep);
    padding: 10px;
}
footer a{
    color: var(--couleur4);
    text-shadow: 1px 2px 3px var(--couleur2);
    text-decoration: none;
}
footer a:hover{
    color: var(--couleur3);
    text-shadow: 1px 2px 3px var(--couleur1);
}
footer p{
    color: var(--couleur2);
    font-weight: bold;
    /* padding-top: 200px; */
    text-shadow: 1px 2px 3px var(--couleur1);
}