@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

/*https://flexboxfroggy.com/#fr*/

/* root est la racine de notre html */
:root{
    /* déclarer une variable: déclarer une couleur */
    --couleurpr : #FFC844;
    --couleursnd : #006548;
    --couleurtext : #384043;
    --couleuracc : #FFFFFF;
    --fontwall:linear-gradient(120deg, var(--couleuracc) 38%, var(--couleurpr)38%);
    /* déclarer une variable: déclarer une taille */
    --sizeH1: 5em;
    --sizeH2: 3em;
    --sizeH3: 2em;
    --sizeH4: 1.5em;
    --sizep: 1em;
    --sizeancre: 1.2em;
    --sizepr: 600;
    --sizesnd: 400;
    --sizesacc: 500;
    /* variable: font-family */
    --typoprBN : "Bebas Neue";
    --typoprRS : "Roboto Slab";
    --typoprR : "Roboto";
}

*{
    margin: 0;
    padding:0;  
    /* ecoconception: consomme moins car les pixels sont éteins
    background-color: black;  */
}
.btn{
    background-color: var(--couleurpr);
    color: var(--couleursnd);
    font-weight: bold;
}
h2{
    font-family: var(--typoprBN);
    font-weight: 500;
    color: var(--couleursnd);
}
/******************************HEADER******************************/

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--fontwall);
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 38%;
}
.logo img{
    height: 124.8;
    width: 56.72;
    padding-top: 10px;
}
header a{
    text-decoration: none;
}
nav{
    width: 38%;
}
.menu{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    position: relative;
}
.menu li{
    padding: 30px;
}
header li{
    /* padding: 20px;
    width: 200px; */
    justify-content: left;
    list-style: none;
    text-align: left;
}
header li:hover{
    border-bottom: 2px solid var(--couleurtext);
}
header li:after{
    border-bottom: 2px solid var(--couleurtext);
}
header a{
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: var(--typoprR);
    /* text-transform: uppercase;La propriété text-transform définit la façon d'utiliser les lettres capitales pour le texte d'un élément. Cela permet que le texte soit écrit uniquement en majuscules, minuscules ou que chaque mot commence par une capitale. */
}
.sousmenu{
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-left: -20px;
    position: absolute;
    text-align: center;
    display: none;
}
.menu li:hover .sousmenu{
    /* background-color: #FFC844; */
    display: block;
}
.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 5%;
    padding: 10px;
}
.social li{
    padding: 0%;
    margin: 0 5px;
}
.social li i{
        display: inline-block;
        background-color: var(--couleurtext);
        color: #FFC844;
        padding: 10px;
        border-radius: 50%;
        font-size: 15px;
} 
/******************************MAIN******************************/

/******************************baniere index******************************/

.baniere {
    height: 70vh;
    background: url(../image/wow_warwithin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;     
    align-items: flex-end;       /* place en bas */
    padding-bottom: 40px;        
    text-align: center;
}
h1 {
    color: var(--couleuracc);
    font-size: 40px;
    font-weight: 400;
    width: 50%; /* ou 50% si tu veux plus étroit */
    margin: 0;
    font-family: var(--typoprBN);
}
#btn{
    background-color: #FFC844;
    font-weight: 500;
    border-radius: 100px;
    color: var(--couleurtext);
    border-color: #FFC844;
    border-width: 0;
    width: 10%;
}

/******************************blog index******************************/
.blog{
    height: 55vh; /* 80% de la hauteur de l’écran */
    display: flex;
    flex-direction: column; /*La propriété flex-direction définit la façon dont les éléments flexibles sont placés dans un conteneur flexible : elle définit l'axe principal et la direction des éléments (normale ou inversée). */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
}
.blog h2{
    font-family: var(--typoprBN);
    font-weight: 500;
    color: var(--couleursnd);
    margin-bottom: 20px;
    padding-top: 20px;
}
.blog p{
    line-height: 1.6;
    margin-bottom: 30px;
    color: #333;
}
.blog .btn{
    margin-top: 15px;
}
/******************************partenaire index******************************/

.partenaires{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-position: center;
}
/* .partenaire{
    width: 28%;
    text-align: center;
    border-radius: 40px;
} */
/* .partenaires img{
    border-radius: 40px;
    height: 200px;
    width: 50%;
    opacity: 0.5;
} */
/******************************joueur index******************************/
.confiance{
    justify-content: space-evenly;
    display: flex; 
    align-items: center; 
    background: linear-gradient(120deg, #FFC844 40%, #DDDDDD 40%);
    padding: 25px;
    width: 100%;
}
.confiance h2{
    width: 40%;
    font-family: var(--typoprBN);
    font-weight: 500;
    color: var(--couleursnd);
    margin-bottom: 20px;
    padding-top: 20px;
}
.confiance-text{
    width: 40%;
}
.joueurs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "j1 j2 j3 j4"
                        "j5 j6 j7 j8"
                        "j9 j10 j11 j12"
                        "j13 j14 j15 j16";
}
.joueurs img{
    width: 100%;
    height: 100%;
}
#j1{
    grid-area: j1;
}
#j2{
    grid-area: j2;
}
#j3{
    grid-area: j3;
}
#j4{
    grid-area: j4;
}
#j5{
    grid-area: j5;
}
#j6{
    grid-area: j6;
}
#j7{
    grid-area: j7;
}
#j8{
    grid-area: j8;
}
#j9{
    grid-area: j9;
}
#j10{
    grid-area: j10;
}
#j11{
    grid-area: j11;
}
#j12{
    grid-area: j12;
}
#j13{
    grid-area: j13;
}
#j14{
    grid-area: j14;
}
#j15{
    grid-area: j15;
}
#j16{
    grid-area: j16;
}

/******************************partenaire index******************************/
/******************************contact index******************************/

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color:#DDDDDD;
    padding: 47px 0;
    width: 100%;
}
.contact table{
    border: 0;
    width: 80%;
    height: 500px;
    padding: 50px;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 1.5em;
}
.contact td{
    padding: 0 15px;
}
tr td input{
    width: 100%;
}
tr td textarea{
    width: 100%;
    height: 100px;
    resize: none;
}
/******************************FOOTER******************************/

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--couleursnd);
    color: var(--couleuracc);
    height: 75px;
}
footer a{
    color: var(--couleurpr);
}
footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
    margin: 0 5px;
    list-style: none;
}
footer li{
    margin: 0 5px;
}
footer ul i{
    background-color: var(--couleuracc);
    color: var(--couleursnd);
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
    display: inline-block;
} 