@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

/*https://flexboxfroggy.com/#fr*/

/* root est la racine de notre html */
:root{
    /* déclarer une variable: déclarer une couleur */
    --couleurpr : #FFC844;
    --couleursnd : #006548;
    --couleurtext : #384043;
    --couleuracc : #FFFFFF;
    --fontwall:linear-gradient(120deg, var(--couleuracc) 50%, var(--couleurpr)50%);
    /* déclarer une variable: déclarer une taille */
    --sizeH1: 5em;
    --sizeH2: 3em;
    --sizeH3: 2em;
    --sizeH4: 1.5em;
    --sizep: 1em;
    --sizeancre: 1.2em;
    --sizepr: 600;
    --sizesnd: 400;
    --sizesacc: 500;
    /* variable: font-family */
    --typopr : "Bebas Neue";
    --typopr : "Roboto Slab";
    --typopr : "Roboto";
}

*{
    margin: 0;
    padding:0;  
    /* ecoconception: consomme moins car les pixels sont éteins
    background-color: black;  */
}

/******************************HEADER******************************/

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background: var(--fontwall);
    position: fixed;
    width: 100%;
    z-index: 100;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    /* width: 20%; */
}
nav{
    width: 60%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header li{
    list-style: none;
    width: 150px;
    padding: 20px;
    text-align: center;
    position: relative;
}
header li:hover{
    background: linear-gradient(rgb(2, 72, 1205),rgb(131, 195, 33));
}
header li a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(2, 72, 120);
}
header li a:hover{
    color: rgb(131, 195, 33);
}
.sousmenu{
    background-color: rgb(2, 72, 120);
    position: absolute;
    margin-left: -20px;
    margin-top: 10px;
    display: none;
}
.sousmenu li a{
    color: rgb(131, 195, 33);
}
.sousmenu li:first-child{
    border-bottom: 2px solid goldenrod;
}
.sousmenu li:last-child{
    border-top: 2px solid goldenrod;
}
.menu li:hover .sousmenu{
    display: block;
}
/******************************MAIN******************************/

/******************************baniere index******************************/


/******************************apropos index******************************/


/******************************parallax index******************************/

/******************************blog index******************************/

/******************************partenaire index******************************/

/******************************FOOTER******************************/