@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

/*https://flexboxfroggy.com/#fr*/

*{
    margin: 0;
    padding:0;
    /* ecoconception: consomme moins car les pixels sont éteins */
    /* background-color: black;  */
}

/***********************************HEADER***********************************/

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background-color: rgb(175, 195, 211);
    border-bottom: 2px solid rgb(131, 195, 33);
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.logo p{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(2, 72, 120);
    text-align: left;
}
nav{
    width: 60%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header li{
    list-style: none;
    width: 150px;
    padding: 20px;
    text-align: center;
    position: relative;
}
header li:hover{
    background: linear-gradient(rgb(2, 72, 1205),rgb(131, 195, 33));
}
header li a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(2, 72, 120);
}
header li a:hover{
    color: rgb(131, 195, 33);
}
.sousmenu{
    background-color: rgb(2, 72, 120);
    position: absolute;
    margin-left: -20px;
    margin-top: 10px;
    display: none;
}
.sousmenu li a{
    color: rgb(131, 195, 33);
}
.sousmenu li:first-child{
    border-bottom: 2px solid goldenrod;
}
.sousmenu li:last-child{
    border-top: 2px solid goldenrod;
}
.menu li:hover .sousmenu{
    display: block;
}

/***********************************Baniere***********************************/

#baniere{
    background: url(../image/fond-décran-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 70vh;
    text-align: center;
}
h1{
    font-size: 5em;
    color: rgb(2, 72, 120);
    text-shadow: 1px 2px 3px rgb(175, 195, 211);
    padding-top: 150px;
}
.btn{
    font-size: 1em;
    color: rgb(2, 72, 120);
    background-color: rgb(175, 195, 211);
    border: 2px solid rgb(131, 195, 33);
    padding: 20px;
    border-radius: 20px;
}
.btn:hover{
    background-color: rgb(2, 72, 120);
    color: rgb(131, 195, 33);
}