@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

/*https://flexboxfroggy.com/#fr*/

*{
    margin: 0;
    padding:0;
    /* ecoconception: consomme moins car les pixels sont éteins */
    /* background-color: black;  */
}

/***********************************HEADER***********************************/

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background-color: rgb(153, 179, 199);
    border-bottom: 2px solid rgb(131, 195, 33);
    /* pour fixer le menu  */
    position: fixed;
    width: 100%;
    z-index: 100;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.logo p{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(2, 72, 120);
    text-align: left;
}
nav{
    width: 60%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header li{
    list-style: none;
    width: 150px;
    padding: 20px;
    text-align: center;
    position: relative;
}
header li:hover{
    background: linear-gradient(rgb(2, 72, 1205),rgb(131, 195, 33));
}
header li a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(2, 72, 120);
}
header li a:hover{
    color: rgb(131, 195, 33);
}
.sousmenu{
    background-color: rgb(2, 72, 120);
    position: absolute;
    margin-left: -20px;
    margin-top: 10px;
    display: none;
}
.sousmenu li a{
    color: rgb(131, 195, 33);
}
.sousmenu li:first-child{
    border-bottom: 2px solid goldenrod;
}
.sousmenu li:last-child{
    border-top: 2px solid goldenrod;
}
.menu li:hover .sousmenu{
    display: block;
}

/***********************************Baniere***********************************/

#baniere{
    background: url(../image/fond-décran-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 80vh;
    text-align: center;
}
h1{
    font-size: 5em;
    color: rgb(2, 72, 120);
    text-shadow: 1px 2px 3px rgb(153, 179, 199);
    padding-top: 150px;
}
.btn{
    font-size: 1em;
    color: rgb(2, 72, 120);
    background-color: rgb(153, 179, 199);
    border: 2px solid rgb(131, 195, 33);
    padding: 20px;
    border-radius: 20px;
}
.btn:hover{
    background-color: rgb(2, 72, 120);
    color: rgb(131, 195, 33);
}

/***********************************Apropos***********************************/

h2{
    color: rgb(153, 179, 199);
    background-color: rgb(2, 72, 120);
    font-size: 3em;
    text-shadow: 1px 2px 2px black;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
}
h3{
    color: rgb(131, 195, 33);
    text-decoration: underline;
    font-size: 1.8em;
    text-shadow: 1px 2px 2px rgb(2, 72, 120);
    padding: 10px;
}
.apropos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.apropos .gauche{
    width: 30%;
}
.gauche img{
    width: 100%;
}
.apropos .droite{
    width: 60%;
    text-align: justify;
}

/***********************************Service***********************************/

h4{
    color: rgb(153, 179, 199);
    background-color: rgb(2, 72, 120);
    font-size: 1.5em;
    text-shadow: 1px 2px 2px solid black;
    padding: 10px;
    text-align: center;
}
.services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service{
    width: 30%;
    padding: 10px;
    border: 2px solid rgb(153, 179, 199);
    border-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}
.service img{
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 2px 3px 3px rgb(131, 195, 33);
    height: 300px;
}

/***********************************Service1***********************************/

.service1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.service1 .gauche{
    width: 40%;
}
.service1 .droite{
    width: 50%;
    text-align: center;
}
.service1 .gauche img{
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 2px 3px 3px rgb(131, 195, 33);
}
.service1 ul li{
    list-style: none;
    font-weight: bold;
}
/***********************************Service2***********************************/



/***********************************Service3***********************************/


