@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

/*https://flexboxfroggy.com/#fr*/

*{
    padding: 0;
    margin: 0;
}

/**********************************************HEADER**********************************************/
header{
    display: flex;
    background-color: rgb(157, 182, 194);
    height: 80px;
}
header img{
    width: 50px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50%;
    margin-right: 100px;
}
header nav{
    width: 80%;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(20, 70, 110);
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(88, 160, 85);
}

/* nav ul li a:visited{
    color: rgb(145, 15, 15);
} */


/**********************************************MAIN**********************************************/

/**********************************************BANIERE**********************************************/

.baniere{
    position: relative;
    text-align: center;
}
.baniere img{
    width: 100vw; /*taille d'ecran*/
    height: 70vh; /*hauteur d'ecran*/
}
.elementsup{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
h1{
    font-size: 4em;
    color: rgb(20, 70, 110);
    text-shadow: 1px 2px 3px black;
    -webkit-text-stroke: 1px rgb(157, 182, 194); /*contour du texte*/
}
h1 span{
    font-size: 35px;
    font-weight: lighter;
    color: rgb(157, 182, 194);
    /* -webkit-text-stroke: 1px rgb(20, 70, 110); */
}
.btn{
    background-color: rgb(157, 182, 194);
    color: rgb(20, 70, 110);
    font-size: 1 em;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid black; /*bordure de l'élément*/
    margin-top: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(20, 70, 110);
    color: rgb(88, 160, 85);
}

/**********************************************QSN**********************************************/
.qsn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.qsn .gauche, .qsn .droite{
    width: 45%;
    text-align: center;
}
.gauche img,
.droite img,
.milieu img
{
    width: 100%;
    height: 300px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px 1px black; /*contour de l'élément*/
}
main h2{
    font-size: 2em;
    color: rgb(20, 70, 110);
    background-color: rgb(157, 182, 194);
    text-align: center;
    padding: 10px;
    margin: 40px 0; /*axe y, axe x*/
}
h3{
    font-size: 1.8em;
    color: rgb(20, 70, 110);
    /* -webkit-text-stroke: 1px rgb(167, 168, 160); */
    text-align: left;
    padding: 10px;
}

/**********************************************Services**********************************************/

.services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.services .gauche,
.services .milieu,
.services .droite{
    width: 30%;
    text-align: center;
}
h4{
    font-size: 1.2em;
    color: burlywood;
}
.services .gauche:hover,
.services .milieu:hover,
.services .droite:hover{
    border: 1px solid greenyellow;
    border-radius: 50px;
    padding: 20px 0;
    transition: 0.5s;
}
.gauche img:hover,
.milieu img:hover,
.droite img:hover{
    box-shadow: -8px -11px 3px 5px black;
}

/**********************************************Blog**********************************************/

.blog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.blog .article1,
.blog .article2,
.blog .article3{
    width: 30%;
    text-align: left;
    border: 2px solid goldenrod;
    border-radius: 15px;
}
.article1 img,
.article2 img,
.article3 img{
    width: 30%;
    height: 150px;
    float: left;
    border: 2px solid goldenrod;
    border-radius: 15px;
    margin: 0 10px;
}

/**********************************************Contact**********************************************/

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.contact .map,
.contact .formulaire{
    width: 45%;
    text-align: center;
}
.map iframe{
    width: 100%;
    height: 600px;
    border: 0;
    border-radius: 50px;
}
form{
    background-color: rgb(157, 182, 194);
    padding: 50px;
    border-radius: 50px;
}
label{
    color: rgb(20, 70, 110);
}
label span{
    color: red;
}
input, textarea{
    width: 98%;
    height: 30px;;
    margin-bottom: 5px;
}

/**********************************************FOOTER**********************************************/

footer{
    display: flex;
    justify-content: space-evenly; /*align vertical*/
    align-items: center;
    background-color: rgb(20, 70, 110);
    padding: 50px;
}
footer h2{
    font-size: 1.5em;
    color: rgb(157, 182, 194);
    text-decoration: underline;
    margin: 10px 0;
}
ul li{
    list-style: none;
    padding: 10px;
}
ul li a{
    color: rgb(88, 160, 85);
    text-decoration: none;
}
ul li a:hover{
    color: blueviolet;
}
footer .milieu p{
    font-size: 1.2em;
    color: rgb(157, 182, 194);
    margin-top: 200px;
}
.gauche, .droite{
    width: 30%;
}
.milieu{
    width: 40%;
}