@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

*{
    padding: 0;
    margin: 0;
}

/**********************************************HEADER**********************************************/
header{
    display: flex;
    background-color: rgb(157, 182, 194);
    height: 80px;
}
header img{
    width: 50px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50%;
    margin-right: 100px;
}
header nav{
    width: 80%;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(20, 70, 110);
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(88, 160, 85);
}

/* nav ul li a:visited{
    color: rgb(145, 15, 15);
} */


/**********************************************MAIN**********************************************/

/**********************************************BANIERE**********************************************/

.baniere{
    position: relative;
    text-align: center;
}
.baniere img{
    width: 100vw; /*taille d'ecran*/
    height: 70vh; /*hauteur d'ecran*/
}
.elementsup{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
h1{
    font-size: 4em;
    color: rgb(20, 70, 110);
    text-shadow: 1px 2px 3px black;
    -webkit-text-stroke: 1px rgb(157, 182, 194); /*contour du texte*/
}
h1 span{
    font-size: 35px;
    font-weight: lighter;
    color: rgb(157, 182, 194);
    /* -webkit-text-stroke: 1px rgb(20, 70, 110); */
}
.btn{
    background-color: rgb(157, 182, 194);
    color: rgb(20, 70, 110);
    font-size: 1 em;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid black; /*bordure de l'élément*/
    margin-top: 20px;
}
.btn:hover{
    background-color: rgb(20, 70, 110);
    color: rgb(88, 160, 85);
}

/**********************************************FOOTER**********************************************/

footer{
    display: flex;
    justify-content: space-evenly; /*align vertical*/
    align-items: center;
    background-color: rgb(20, 70, 110);
    padding: 50px;
}
h2{
    font-size: 1.5em;
    color: rgb(157, 182, 194);
    text-decoration: underline;
}
ul li{
    list-style: none;
    padding: 10px;
}
ul li a{
    color: rgb(88, 160, 85);
    text-decoration: none;
}
ul li a:hover{
    color: blueviolet;
}
footer .milieu p{
    font-size: 1.2em;
    color: rgb(157, 182, 194);
    margin-top: 200px;
}
.gauche, .droite{
    width: 30%;
}
.milieu{
    width: 40%;
}