@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

*{
    padding: 0;
    margin: 0;
}

/**********************************************HEADER**********************************************/
header{
    display: flex;
    background-color: rgb(157, 182, 194);
    height: 80px;
}
header img{
    width: 50px;
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50%;
    margin-right: 100px;
}
header nav{
    width: 80%;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(20, 70, 110);
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(88, 160, 85);
}

/* nav ul li a:visited{
    color: rgb(145, 15, 15);
} */


/**********************************************MAIN**********************************************/


/**********************************************FOOTER**********************************************/
footer{
    display: flex;
    justify-content: space-evenly; /*align vertical*/
    align-items: center;
    background-color: rgb(20, 70, 110);
    padding: 50px;
}
