@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quando&display=swap');

@font-face {
    font-family: "janat";
    src: url(../fonts/lastica.ttf);
}

/*https://flexboxfroggy.com/#fr*/

*{
    margin: 0;
    padding:0;
    /* ecoconception: consomme moins car les pixels sont éteins */
    /* background-color: black;  */
}

/****************************HEADER****************************/

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(white, gold);
    height: 80px;
    border-bottom: 2px solid gold;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}
.logo img{
    height: 60px;
    width: 60px;
    border-radius: 15px;
    padding: 10px;
}
header a{
    text-decoration: none;
}
.logo p{
    font-size: 1.5em;
    font-weight: bold;
    color: yellowgreen;
    text-align: left;
}
nav{
    width: 70%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    position: relative;
}
header li{
    padding: 20px;
    width: 200px;
    list-style: none;
    text-align: center;
}
header li:hover{
    background: linear-gradient(gold, white);
    transition: 0.5s;
}
header li a{
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
header li a:hover{
    color: burlywood;

}
.sousmenu{
    background: linear-gradient(blue, white);
    margin-top: 20px;
    margin-left: -20px;
    position: absolute;
    text-align: center;
    /*pour cacher mon sous menu*/
    /* visibility: hidden;  */
    /*pour cacher mon sous menu*/
    display: none;
}
.menu li:hover .sousmenu{
    /* visibility: visible; */
    display: block;
}

/****************************baniere index****************************/
.baniere{
    height: 70vh;
    background: linear-gradient(rgba(255, 217, 0, 0.26),rgba(255, 255, 255, 0.315) ), url(../image/pexels-steve-1266808.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    text-align: center;
}
h1{
    color: gold;
    text-shadow: 1px 2px 2px whitesmoke;
    font-size: 5em;
    padding-top: 150px;
}
.btn{
    background-color: whitesmoke;
    color: gold;
    font-size: 1em;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px 0;;
}
.btn:hover{
    background-color: goldenrod;
    color: white;
}

/****************************FOOTER****************************/

footer{
    background: linear-gradient(gold, white);
    padding: 50px;
    margin-top: 20px;
}
footer .gauche,
footer .droite,
footer .milieu{
    width: 30%;
    text-align: center;
}
footer h2{
    font-size: 3em;
    color: whitesmoke;
    text-decoration: underline;
    padding: 10px;
    margin: 0;
    background-color: transparent;
}
footer ul li{
    list-style: none;
    padding: 5px;
}
footer ul li a{
    text-decoration: none;
    color: cadetblue;
    text-shadow: 1px 2px 2px whitesmoke;
    font-size: 1em;
}
footer p{
    color: grey;
    text-shadow: 1px 2px 2px whitesmoke;
    font-size: 1.5em;
}
table{
    width: 100%;
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

/****************************baniere1****************************/

.baniere1{
    height: 70vh;
    background: linear-gradient(rgba(255, 217, 0, 0.26),rgba(255, 255, 255, 0.315) ), url(../image/fond-décran-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    text-align: center;
}

/****************************apropos index****************************/

.apropos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "im aside";
}
#aps{
    grid-area: im;
    width: 40%;
    margin-left: 50px;
}
#apropos{
    grid-area: aside;
    margin-right: 50px;
    text-align: center;
}
#apropos p{
    text-align: left;
}
h2{
    background-color: cornflowerblue;
    color: darkgreen;
    font-style: 3em;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
}
h3{
    background-color: darkgreen;
    color: cornflowerblue;
    font-style: 1.8em;
    text-align: center;
    margin: 20px 0;
    padding: 0 20px;
}

/****************************blog index****************************/
.blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside1 aside2 aside3";
    margin: 10px 50px;
}
.blog img{
    width: 150px;
    height: 150px;
    float: left;
    margin: 5px 5px;
    border-radius: 10px;
}
#art1{
    grid-area: aside1;

}
#art2{
    grid-area: aside2;

}
#art3{
    grid-area: aside3;

}
#art1,#art2,#art3{
    padding: 10px;
    border: 2px solid greenyellow;
    border-radius: 30px;
    margin-right:20px;
}

/****************************boutique index****************************/

